<GridLayout rows="44, auto, auto, *">
  <StackLayout row="0">
    <StripePaymentCardTextField
      class="m-10"
      [cardNumberPlaceholder]="'Card number'"
      [cardCvcPlaceholder]="'CVC'"
      [cardExpirationPlaceholder]="'MM/YY'"
      (paymentCardTextFieldDidChange)="onPaymentCardTextFieldDidChange($event)">
    </StripePaymentCardTextField>
  </StackLayout>

  <Label row="1"
    class="footnote text-center"
    text="Is valid: {{ isValid | async }}">
  </Label>

  <Label row="2"
    [visibility]="(token | async) ? 'visible' : 'collapsed'"
    class="footnote text-center"
    text="Token: {{ token | async }}">
  </Label>

</GridLayout>
